body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #344560;
  text-align: center;
  background: black;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3);
  font-size: 40px;

}

#winner {
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3);
  font-weight: bold;

}

.row {
  width: 528px;
  height: 176px;
  margin: 0 auto;
  clear: both;
}

.cell {
  width: 160px;
  height: 160px;
  margin: 5px;
  border-radius: 5px;
  background: #ebe6e1;
  border: 3px solid #e0d9d2;
  float: left;
  background:#606b7c;

  text-align: center;
  line-height: 160px;
  color: #000000;
  font-size: 100px;

}

.cell:hover {
  border: 3px solid #ccc0b3;
}

#button {
  display: inline-block;
  margin: 12px;
  padding: 5px 15px;
  font-size: 15px;
  border: 3px solid #1D0444;
  border-radius: 30px;
  cursor: pointer;
  background-color:#606b7c;
  transition: 0.2s all;
}
