body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333;
  text-align: center;
}

.row {
  width: 528px;
  height: 176px;
  margin: 0 auto;
  clear: both;
}

.cell {
  width: 160px;
  height: 160px;
  margin: 5px;
  border-radius: 5px;
  background: #ebe6e1;
  border: 3px solid #e0d9d2;
  float: left;

  text-align: center;
  line-height: 160px;
  color: #000000;
  font-size: 100px;

}

.cell:hover {
  border: 3px solid #ccc0b3;
}

#button {
  display: inline-block;
  margin: 12px;
  padding: 5px 15px;
  font-size: 15px;
  border: 3px solid #1D0444;
  border-radius: 30px;
  cursor: pointer;
  background-color: pink;
  transition: 0.2s all;
}
